@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR');

*{
	margin:0; padding:0;
}
html{
	border: 0;
}
body{
	font-family: 'Noto Sans KR', sans-serif;
	font-size:18px;
	line-height:1em;
	color: #222222;
	background-color: #303030;
}
a{
	color:inherit;
	text-decoration:none;	
}
img{
	border:0;
	vertical-align:middle;	
}
input,select{
	vertical-align:top;	
    outline: none;
}
ul,ol,li{
	list-style:none;	
}
img, fieldset{border:none}
table{border-collapse:collapse /*separate*/}
button:focus{outline: none;cursor: pointer;}
